<h4>oijadfsois</h4>

{{#each model as |game|}}
{{#link-to 'game' game.id}}<h2>{{game.name}}</h2>{{/link-to}}
<h3>Realeased: {{game.released}}</h3>
{{#link-to 'game' game.id}}<img src={{game.image}}>{{/link-to}}
{{/each}}
