<header>
  <div class="banner">
    {{#link-to 'index'}}<img class="homeButton" src="https://pbs.twimg.com/profile_images/670279898141818880/OsweqHA-.jpg"><span class="titleStyle">AME REVOLUTION</span>{{/link-to}}
  </div>
  <div class = "jumbotron jumbotron-fluid">
  </div>
</header>

{{outlet}}
